#root {
  width: 100%;
}
#rootSpace {
  fill: #2c3e50;
}
#rootGlobe {
  fill: rgb(230, 230, 230);
}
.rootCountriesFeature {
  stroke: rgb(255, 255, 255);
  fill: rgb(204, 204, 204);
}
.rootIndicatorsFeature {
  stroke: rgb(0, 240, 0);
  fill: rgba(0, 150, 0, 0.5);
  stroke-width: 0;
}
.rootIndicatorsFeatureSelected {
  stroke: rgb(0, 0, 240);
  fill: rgba(0, 0, 240, 0.5);
}
