#root {
  width: 100%;
}
#rootSpace {
  fill: #000000;
}
#rootGlobe {
  fill: #0000FF;
}
.rootCountriesFeature {
  stroke: #fff;
  fill: #00FF00;
}
.rootIndicatorsFeature {
  stroke: rgb(255, 0, 0);
  fill: rgba(255, 0, 0, 0.5);
  stroke-width: 0;
}
.rootIndicatorsFeatureSelected {
  stroke: rgb(0, 255, 255);
  fill: rgba(0, 255, 255, 0.5);
}
