#root {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 1s;
}
#rootContainer {
  display: flex;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#rootContainerLeft {
  flex-shrink: 0;
  display: none;
  margin-right: 10px;
  width: 165px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#rootContainerRight {
  flex-grow: 1;
  min-width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
#rootContainerRightTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5em;
  font-weight: bold;
}
#rootContainerRightTitle a {
  text-decoration: underline;
}
#rootContainerRightTitle a:link {
  color: white;
}
#rootContainerRightTitle a:visited {
  color: white;
}
.rootContainerRightIndicator {
  display: flex;
  flex-direction: row;
}
.rootContainerRightIndicatorTitle {
  width: 100px;
}
.rootContainerRightIndicatorValue {
  flex-grow: 1;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.rootContainerRightIndicatorValueScale {
  height: 100%;
}
@media (min-width: 768px) {
  #rootContainer {
    width: 750px;
  }
  #rootContainerLeft{
      display: block;
      margin-right: 10px;
  }
}
@media (min-width: 992px) {
  #rootContainer {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  #rootContainer {
      width: 1170px;
  }
}
