#rootContainer {
  height: 160px;
}
#rootContainerLeft {
  display: none;
  margin-right: 10px;
  width: 165px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#rootContainerRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#rootContainerRightTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5em;
  font-weight: bold;
}
#rootContainerRightSpecies, #rootContainerRightCountry {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.rootContainerRightIndicator {
  display: flex;
}
.rootContainerRightIndicatorTitle {
  flex: 0 0 100px;
  font-weight: bold;
}
.rootContainerRightIndicatorValue {
  flex: 1 0 0px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
}
.rootContainerRightIndicatorValueScale {
  height: 100%;
}
@media (min-width: 768px) {
  #rootContainerRightTitle {
    max-width: 500px;
  }
  #rootContainerRightSpecies, #rootContainerRightCountry {
    max-width: 500px;
  }
}
@media (min-width: 992px) {
  #rootContainerRightTitle {
    max-width: 700px;
  }
  #rootContainerRightSpecies, #rootContainerRightCountry {
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  #rootContainerRightTitle {
    max-width: 900px;
  }
  #rootContainerRightSpecies, #rootContainerRightCountry {
    max-width: 900px;
  }
}
