#root {
}
.rootName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom-left-radius: 10px;
}
.rootNameText {
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rootNameToggle {
  flex-shrink: 0;
  width: 0px;
  height: 0px;
}
.rootNameToggleOpen {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid black;
}
.rootNameToggleClosed {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid black;
}
.rootName0 {
  background-color: rgb(128,128,255);
}
.rootName1 {
  background-color: rgb(160,160,255);
}
.rootName2 {
  background-color: rgb(192,192,255);
}
.rootChildren {
  padding-left: 20px;
  list-style-type: none;
}
