#fpi_indicator_root {
  padding-top: 20px;
}
#fpi_indicator_root__hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 200px;
  overflow: hidden;
}
#fpi_indicator_root__hero__map {
  display: none;
  width: 100%;
}
#fpi_indicator_root__hero__map__globe {
  fill: rgb(230, 230, 230);
}
.fpi_indicator_root__hero__map__countries__feature {
  stroke: rgb(255, 255, 255);
  stroke-width: 0.25;
  fill: rgb(204, 204, 204);
}
.fpi_indicator_root__hero__map__indicator {
  stroke: rgb(0,0, 255);
  fill: rgba(0, 0, 255, 0.5);
  stroke-width: 0;
}
#fpi_indicator_root__hero__image {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  #fpi_indicator_root__hero {
    height: 240px;
  }
  #fpi_indicator_root__hero__map {
    display: block;
  }
  #fpi_indicator_root__hero__image {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  #fpi_indicator_root__content {
    display: flex;
  }
  #fpi_indicator_root__content__data {
    flex: 0 0 450px;
  }
  #fpi_indicator_root__content__overview {
    margin-left: 20px;
    flex: 1 0 0px;
  }
}
#fpi_indicator_root__content__overview {
  margin-top: 20px;
}
.fpi_indicator_root__content__data__indicator {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.fpi_indicator_root__content__data__indicator__title {
  flex: 0 0 100px;
  font-weight: bold;
}
.fpi_indicator_root__content__data__indicator__value {
  flex: 1 0 0px;
  margin-left: 10px;
  background-color: rgb(230, 230, 230);
}
.fpi_indicator_root__content__data__indicator__value__scale {
  height: 100%;
  transition: width 2s;
}
.fpi_indicator_root__content__data__ranking {
  margin-top: 10px;
}
.fpi_indicator_root__content__data__comparison {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  height: 100px;
  background-color: rgb(230, 230, 230);
}
.fpi_indicator_root__content__data__comparison__value {
  flex: 1 0 0px;
}
